@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html, body, h1, h2, h2, h4, h5 {
	font-family: "Montserrat", sans-serif;
}

/*Setting border Radius*/
:root {
    --rounding: 10px;
}

#castCollapsible {
margin-top: 30px
}

#moviesPage .card .cardBox .cardText {
    display: none;
}

#showsPage .card .cardBox .cardText {
    display: none;
}


.detailPagePrimaryContainer {
 background-color: rgba(0, 0, 0, 0.6);
}

/*Rounded corners on pretty much everything-Source Monochromic*/
.formDialogHeader {
  border-top-left-radius: var(--rounding);
  border-top-right-radius: var(--rounding);
}
.formDialogFooter {
  border-bottom-left-radius: var(--rounding);
  border-bottom-right-radius: var(--rounding);
}
.cardOverlayContainer {
	border-radius: var(--rounding) !important;
}
.toast,
.paperList,
.cardContent,
.sessionNowPlayingInnerContent, 
.listItem:hover, 
.cardImage,
.fab,
.multiSelectCheckboxOutline,
.itemSelectionPanel,
.cardContent-button, 
.cardContent-shadow, 
.itemDetailImage, 
.cardOverlayButton-hover,
.cardImageContainer,
.cardPadder,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.actionSheetMenuItem:hover,
.dialog,
.listItemIcon,
.listItem-border,
.button-flat,
.visualCardBox,
.checkboxOutline,
.emby-select-withcolor,
.chapterThumbTextContainer,
.chapterThumbContainer,
.chapterThumb,
.emby-input, 
.emby-textarea, 
.emby-select-withcolor,
.cardOverlayButtonIcon,
.subtitleappearance-preview.flex.align-items-center.justify-content-center {
  border-radius: var(--rounding) !important;
}
.osdPoster img {
  border-radius: var(--rounding); border: none;
}
.mdl-slider::-moz-range-thumb {
  border-radius: var(--rounding);
}
.mdl-slider::-ms-thumb {
  border-radius: var(--rounding);
}
.mdl-slider::-webkit-slider-thumb {
  border-radius: var(--rounding);
}

div[data-role="controlgroup"] a[data-role="button"]:first-child {
	border-bottom-left-radius: var(--rounding);
	border-top-left-radius: var(--rounding);
}
div[data-role="controlgroup"] a[data-role="button"]:last-child {
	border-bottom-right-radius: var(--rounding);
	border-top-right-radius: var(--rounding);
}

/* Make watched icon dark and transparent */
.indicator { background: #00000058 !important; }

/* Make count indicator icon dark and transparent */
.countIndicator {
/*background: #00000058;*/
display: none;
}


.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {
  background-color: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(10px);
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {
  background-color: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(10px);
}

.mainDrawer {
 background-color: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(15px);
}


.itemTags {
display: none;
}

/* CAST AND CREW STYLING */

/* Shrink and square (or round) cast thumnails */
#castContent .card.overflowPortraitCard.personCard.card-hoverable.card-withuserdata {width: 4.2cm !important; font-size: 90% !important;}
#castContent .card.overflowPortraitCard.personCard.card-withuserdata {width: 4.2cm !important; font-size: 90% !important;}


/*.nameContainer {
display: none;
}*/


/* Size episode preview images in a more compact way */
.listItemImage.listItemImage-large.itemAction.lazy {
  height: 150px;
}
.listItem-content {
  height: 155px;
}
.secondary.listItem-overview.listItemBodyText {
  height: 61px;
  margin: 0;
}



#itemDetailPage .portraitCard  {
    transform: scale(0.7);
}


.detailPagePrimaryContent {
    position: relative;
    width: 60vw;
    background: transparent;
    min-height: 25vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-shadow: 1px 1px 5px rgb(20, 20, 20);
    padding: 0 !important;
  }

